.form-container {
  position: absolute;
  top: 12%; 
  right: 10%; 
  width: 30%; 
  height: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px dashed rgba(255, 255, 255, 0.4);
  z-index: 1; 
  align-items: center;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  color: rgba(56, 17, 90, 0.78);
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

label {
  text-align: left;
  margin-bottom: 5px;
}

.col-md-12 {
  display: flex;
  justify-content: center;
}

.custom-input {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: transparent;
}

option{
  color: black;
}

.d-flex {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.d-flex > input {
  margin: 10px; 
  justify-content: center;
  width: 20%;
  height: 30px;
}

.terminos-custom {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

.btn-sent {
  background-color: rgba(56, 17, 90, 0.78);
  color: white;
}

@media (max-width: 1428px) {
  .form-container {
    position: absolute;
    top: 12%; 
    right: 10%; 
    width: 30%; 
    height: auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 2px dashed rgb(255, 255, 255);
    z-index: 1; 
    align-items: center;
  }

  label {
    color: black;
  }
}

@media (max-width: 991px) {

  .nested-div {
    display: flex;          
    justify-content: center;
    align-items: center;
  }

  .form-container {
    position: unset;
    width: 70%; 
  }
}
